
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Volkhov', serif;
    padding: 0 24px 24px 24px;
}


.header-navbar{
    background-image: url(./sunrise.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

.navbar{
    width: 100%;
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.header-navbar .navbar .links li {
    list-style: none;
}

.header-navbar .navbar .links li a{
    text-decoration: none;
    color: black;
}
.header-navbar .navbar .links li a:hover{
    color: orangered;
}


.user-pic{
    cursor: pointer;
    width:50px;
    height: 50px;
    border-radius: 50%;
    padding:2px;
    background-color: #fff;
}

.sub-menu-wrap{
    position: absolute;
    top:100%;
    right:-4%;
    width:320px;
    max-height:0px;
    overflow: hidden;
    transition: max-height 0.5s;
    
}


.sub-menu-wrap.open-profile{
    max-height: 400px;
}

.sub-menu{
    background-color: #E7F4F6;
    padding: 10px;
    margin: 10px 50px;
    border-radius: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    
}

.user-info h3{
    font-weight: 500;
}

.user-info img{
    cursor: pointer;
    width:50px;
    height: 50px;
    border-radius: 50%;
    padding:2px;
    background-color: #fff;
}


.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-links{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin:18px 0;

}

.sub-menu-links p{
    width: 100%;
}

.sub-menu-links .fa{
    
    background-color: #e5e5e5;
    border-radius: 50%;
    padding:8px 10px;
    margin-right: 15px;
}




.sub-menu-links span{
    font-size: 22px;
    transition: transform 0.5s;


}

.sub-menu-links:hover span{
    transform: translateX(5px);
}


.sub-menu-links:hover p{
    font-weight: 600;
}

.sub-menu-links:hover{
    color: orangered;
}


.navbar .links{
    display: flex;
    gap:2rem;
}
.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}

.dropdown_menu{
   
    display: none;
    position: absolute;
    right: 0rem;;
    top:70px;
    width: 180px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    overflow: hidden;
    border-radius: 10px;
    height: 0;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 206px;
}

.dropdown_menu li{
    padding: 0.6rem 0.2rem;
    display:flex ;
    align-items: center;
    justify-content: center;
   
}

.dropdown_menu li a{
    text-decoration: none;
   color: black;
   font-size: 16px;
}

.dropdown_menu li a:hover{
    color:orangered;
}



/* responsive menu */
@media only screen and (max-width:992px) {
    .navbar .links, 
    .navbar .action-btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;

    }

    .dropdown_menu{
        display:block;
    }
}

@media only screen and (max-width:576px) {
    .dropdown_menu{
        left:2rem;
        width: unset;
    }
}




/* about us */

.about-us-content-row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#E7F4F6;
    padding:50px;
}



.about-us-content-row1-content {
    flex: 60%;
    text-align: left; 
}

.about-us-content-row1-content h2{
    font-size: 24px;;
    color:#181E4B;
    letter-spacing: 1px;

}

.about-us-content-row1-content p{
    margin-top: 15px;
    font-size: 15px;;
    color:#181E4B;
    line-height: 1.7;

}


.about-us-content-row1-content button{
    margin-top: 15px;
    display: inline-block;
    background-color: #f46c50;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding: 15px 30px;
    transition: background 0.5s;
}





.about-us-content-row1-img {
    flex: 40%;
    padding: 10px;
    
}


.about-us-content-row2 {
    display: flex;
    padding-top:80px;
    background-color: #f4fafb;
}


.progress-bar-row{
    display: flex;
    justify-content: space-evenly;
}



@property --progress-value1 {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes progress1 { /* Đặt tên khác nhau cho keyframes */
   to { --progress-value1: 75; }
}

.progress-bar-vadidation {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(254, 91, 173) calc(var(--progress-value1) * 1%), rgb(208, 244, 255) 0);
    animation: progress1 2s 1 forwards; /* Sử dụng keyframes mới */
    
}

.progress-bar-container .progress-bar-vadidation::before {
    counter-reset: percentage var(--progress-value1);
    content: counter(percentage) '%';
    animation: progress1 2s 1 forwards; /* Sử dụng keyframes mới */
}

@property --progress-value2 {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes progress2 { /* Đặt tên khác nhau cho keyframes */
   to { --progress-value2: 65; }
}

.progress-bar-honeymoon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(230, 66, 20) calc(var(--progress-value2) * 1%), rgb(208, 244, 255) 0);
    animation: progress2 2s 1 forwards; /* Sử dụng keyframes mới */
}

.progress-bar-container .progress-bar-honeymoon::before {
    counter-reset: percentage var(--progress-value2);
    content: counter(percentage) '%';
    animation: progress2 2s 1 forwards; /* Sử dụng keyframes mới */
}

.property --progress-value3 {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes progress3 {
    to { --progress-value3: 45; }
}

.progress-bar-music {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(135, 37, 254) calc(var(--progress-value3) * 1%), rgb(208, 244, 255) 0);
    animation: progress3 2s 1 forwards;
}

.progress-bar-container .progress-bar-music::before {
    counter-reset: percentage var(--progress-value3);
    content: counter(percentage) '%';
    animation: progress3 2s 1 forwards;
}

  label{
    font-size: small;
    color: #18258A;
    text-align: center;
    
  }

/* -------------------------------------------- */
.contact-us{
    text-align: center;
    background-color: #E7F4F6;
    padding:20px;
}

.contact-us h2{
    font-size: 42px;;
    color:#181E4B;
    letter-spacing: 1px;
    margin:10px 0 5px 0;
    
}

.contact-us > p{
    color:#DF6951;
    font-size:18px ;
    font-weight: 530;
    margin: 5px 0; 
}

.contact-phone-email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin:14px 0;
}

.contact-us .contact-phone, .contact-us .contact-email{
   display: flex;
   justify-content: center;
   align-items: center;
   gap:12px;
}




.contact-us .contact-address{
    display: flex;
    gap:12px;
    justify-content: center;
    align-items: center;
    margin:5px 0 14px 0;
}








  /* ---------------input -----------------------*/

  .input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.input-container .name-input,
.input-container .email-input,
.input-container .phone-input {
    flex: 1;
    position: relative;
    margin-right: 50px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-bottom-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0); /* Điều chỉnh giá trị alpha tại đây */
}

.label-input {
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    padding: 10px;
    transition: top 0.3s ease, font-size 0.3s ease;
    transform-origin: 0 0;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    /* background-color: #ccc; */
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform 0.3s ease;
}



input[type="text"]:focus + .label-input,
input[type="text"]:valid + .label-input,
input[type="email"]:focus + .label-input,
input[type="email"]:valid + .label-input,
input[type="tel"]:focus + .label-input,
input[type="tel"]:valid + .label-input,
textarea:focus + label,
textarea:valid + label {
    top: -20px;
    font-size: 16px;
}

input[type="text"]:focus + .label-input + .underline,
input[type="text"]:valid + .label-input + .underline,
input[type="email"]:focus + .label-input + .underline,
input[type="email"]:valid + .label-input + .underline,
input[type="tel"]:focus + .label-input + .underline,
input[type="tel"]:valid + .label-input + .underline,
textarea:focus + label + .underline,
textarea:valid + label + .underline {
    transform: scaleX(1);
}


@media screen and (max-width: 480px) {
    .input-container .name-input,
    .input-container .email-input,
    .input-container .phone-input {
        flex: 1 0 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.input-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Để canh label bên trái */
}

#message-label{
    align-self: flex-start;
    font-size: 18px;
    margin-left: 10px;
}

  
#btn-send{
        margin-top: 15px;
        display: inline-block;
        background-color: #f46c50;
        color: #fff;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        padding: 12px 50px;
     
    
    
}

