:root {
    /* Colors */
    --mixlogin: linear-gradient(
      90deg,
      rgba(255, 84, 33, 1) 0%,
      rgba(255, 145, 77, 1) 100%
    );
    --footer: #253a62;
    --main-blue: #e7f4f6;
    --main-white: #ffffff;
    --main-text: #000000;
    --infotextform: #a2a0a0;
    --button-2: #ff914d;
    --button-1: #ff5421;
    --button-3: #0077b6;
    --button-4: rgba(119, 119, 119, 0.65);
    --overlayheaderform: rgba(0, 0, 0, 0.22);
    --backgroundform: rgba(0, 0, 0, 0.4);
    --fuschia-100: #ef5da8;
    --fuschia-80: #f178b6;
    --fuschia-60: #fcddec;
    --iris-100: #5d5fef;
    --iris-80: #7879f1;
    --iris-60: #a5a6f6;
  
    /* Fonts */
    --volkholbold-42-px: 700 42px/71.04px "Volkhov", sans-serif;
    --volkhovmedium-16-px: 400 16px "Volkhov", sans-serif;
    --volkholregular-25-px: 700 25px "Volkhov", sans-serif;
    --volkhovregular-14-px: 400 14px "Volkhov", sans-serif;
    --volkhov-21-pxregular: 400 21px "Volkhov", sans-serif;
    --volkhovregular-16-px: 400 16px "Volkhov", sans-serif;
    --volkhovbold-64-px: 700 64px/84px "Volkhov", sans-serif;
  
    /* Effects */
    --login-register-box-shadow: 0px 0px 20px 9px rgba(255, 129, 38, 0.39);
}



/* HEADER-DESIGN */
header{
    height: 80vh;
    width: 100%;
    background-image: url(image/header\ background\ form1.jpg);
    background-repeat: no-repeat;/*không lặp lại ảnh nếu ảnh nhở*/
    background-size: cover;/*đảm bảo ảnh sẽ full toàn header*/
    background-position: center ; /*giữ ảnh ở phần bottom cắt phần top*/
    
}
/**/
.overlay-header {
    background: var(--overlayheaderform);
    width: 100%;
    height: 739px;
    display: flex;
    align-items: center;
}

.header-booking-title{
    width: 100%;
    height: 258px;
}

.title-booking-page1{
    padding-left: 45px;
    display: flex;
    align-items: top;
    color: var(--main-white);
    font: var(--volkhovbold-64-px);
}

.title-booking-page2{
    padding-left: 45px;
    display: flex;
    align-items: center;
    color: var(--main-white);
    font: var(--volkhov-21-pxregular);
}

.content-booking-page{
    background-image: url(image/content\ background\ form.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 134vh;
}

.content-booking-page input[type="number"]::-webkit-inner-spin-button, .content-booking-page input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* BOOKING----------------------------------------------------- */
/* CONTENT */
/* SUB-NAV */
.platform-nav {
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 85px;
    color: #000000;
}

.platform-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.platform-nav ul li{
    display: flex;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
}

#circle-1, #circle-2, #circle-3{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    text-align: center;
    font: var(--volkhovmedium-16-px);
}

#circle-1{
   background-color: var(--button-3);
}

#circle-2, #circle-3{
    background-color: var(--button-4);
}

#circle-1 span{
    color: var(--main-white);
}

.sub-nav-text{
    padding-left: 16px;
}

.shape-1, .shape-2{
    width: 95px;
}
/* FORM BOOKING */
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 114vh;
    
}

form{
    width: 748px;
    background: var(--backgroundform);
    height: 670px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.booking-form, .review-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-customer-info,.row-info{
    height: 71.72px;
    margin-top: 10px;
}

.adults-input input, .start-date input, .children-input input, .duration input, .name input, .phone-number input, .email input, .request textarea,
 .review-adults input, .review-start-date input, .review-children input, .review-duration input, .review-infomation input, .review-request input{
    padding-left: 15px;
 }
/* INFO TOUR */
.booking-info-tour{
    width: 702px;
    height: 193.93px;
    margin-bottom: 30px;
}

#info-tour-title, .review-tour-title{
    color: var(--main-white);
    font: 700 25px "Volkhov", sans-serif;
    height: 26.48px;
}

.adults, .start-date, .children, .duration, .name, .phone-number{
    width: 323.11px;
    height: 46.01px;
}

.adults-title, .start-date span, .children-title, .duration span, .name span, .phone-number span, .email span, .request span {
    color: var(--main-white);
    font: var(--volkhovmedium-16-px);
}


.adults-input, .children-input{
    position: relative;
}

.adults-input input, .start-date input, .children-input input, .duration input, .name input, .phone-number input{
    background: #ffffff;
    border-radius: 15px;
    width: 323.11px;
    height: 46.01px;
    border: none;
    padding-right: 60px;
}

.people-unit{
    color: #000000;
    text-align: left;
    font: var(--volkhovregular-14-px, 400 14px "Volkhov", sans-serif);
    position: absolute;
    top: calc(50% - 7px);
    left: calc(80%);
}

.start-date, .duration, .phone-number{
    position: relative;
    left: calc(11% - 24px);
}
/* CUSTOMER-INFO */
.customer-info{
    height: 320.12px;
    width: 702px;
}

.customer-info-title{
    color: var(--main-white);
    font: 700 25px "Volkhov", sans-serif;
    width: 391.13px;
    height: 26.483px;
}

.row .row-email{
    width: 701.308px;
    height: 71.393px;
}

.email input{
    width: 100%;
    height: 46.014px;
    border-radius: 15px;
    border: none;
}

.row .row-request{
    width: 701.308px;
    height: 126.966px;
}

.row-customer-info, .row-email{
    margin-bottom: 10px;
}

.request textarea{
    width: 100%;
    height: 102px;
    border-radius: 15px;
    border: none;
}

.button-booking, .button-review{
    width: 265.29px;
    height: 60.69px;
    background: var(--button-1, #ff5421);
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    font: var(--volkholregular-25-px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: none;
}

/* REVIEW-------------------------------------------- */
.review-form{
    display: none;
}
/* REVIEW TOUR INFOMATION */

.review-tour{
    width: 701.16px;
    height: 219px;
    margin-bottom: 33px;
}
.review-customer-info{
    width: 697px;
    height: 256.397px;
    margin-bottom: 45px;
}

.review-info-tour{
    margin-top: 17px;
    display: flex;
}
.review-image img{
    width: 252px;
    height: 176px;
    border-radius: 15px;
    margin-right: 9px;
}


.review-adults, .review-start-date, .review-children, .review-duration{
    width: 216px;
    height: 71.724px;
    margin-right: 6px;
}

.review-adults-title, .review-start-date span, .review-children-title, .review-duration span, .review-customer-info-title, .review-customer-request-title{
    color: var(--main-white);
    font: var(--volkhovmedium-16-px);
}

.review-adults input, .review-start-date input, .review-children input, .review-duration input{
    width: 216px;
    height: 46.012px;
    border-radius: 15px;
    border: none;
    background-color: white;
}

.review-adults, .review-children{
    position: relative;
}

.review-people-unit{
    color: #000000;
    text-align: left;
    font: var(--volkhovregular-14-px, 400 14px "Volkhov", sans-serif);
    position: absolute;
    top: calc(56%);
    right: calc(5%);
}

.row-review-customer{
    margin-bottom: 32px;
}
/* REVIEW CUSTOMER INFOMATION */
.review-infomation,.review-request{
    width: 332px;
    height: 150px;
}

.review-customer-info-title, .review-customer-request-title,.review-price{
    color: var(--main-white);
    font: var(--volkholregular-25-px);
}

.review-infomation input, .review-request input{
    background: #ffffff;
    border-radius: 15px;
    width: 332px;
    height: 107px;
    border: none;
    margin-top: 16px;
}

.review-infomation{
    margin-right: 33px;
}

#review-price{
    width: 697px;
    height: 46.01px;
    border-radius: 15px;
    border: none;
}

.review-price2{
    position: relative;
    margin-top: 17px;
}

.price-title{
    color: var(--main-text);
    font: var(--volkhovregular-14-px);
    width: 84px;
    height: 23px;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(84%);
}

.review-price2 input{
    background-color: white;
}

#complete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display:none;
}
  
 .notice-board {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
  }

#model{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display:none;
}
/* HOVER PAGE*/
.content-booking-page .button-booking:hover, .content-booking-page .button-review:hover{
    background-color: var(--button-2);
}

